@media(max-width: 992px){
    .historia{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .historiaitem{
        margin-top: 30px;
    }
    .historiaitem h3{
        margin-top: 30px;
    }
    .historiaitem p{
        margin-top: 10px;
    }
    .btn-socio{
        margin-top: 0px;
        margin-left: 5%;

    }
    .gg{
        margin-top: 0px;
    }
    .gg .card{
        padding-bottom: 50px; 
    }
    .gg img{
        height: auto;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .noticias .card {
        padding-bottom: 50px ;
        overflow: hidden;
        margin: 15px auto;
    }

    .noticias .card:hover {
        transform: none;  
    }
    .socio .socio-descricao {
        margin-left: 5%;
    }
    .socio .socio-descricao  {
        text-align: center;
    }
    .vermais-socio .modelo{
        display: none;
    }
    .card{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        width: 90%;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        margin-left: 5%;
    }
    .galeria-desgricao {
        width: 10px;
        padding-right: 0px;
        }
        
    .galeria-desgricao p{
        padding-right: 15px;
    }
    .patrocinadores .card{
        margin-top: 20px;
    }
    .redes-sociais {
        text-align: center;
    }
    .redes-sociais button{
        margin-top: 10px;
    }
    .contatos .input-grande input{
    
        margin-top: 10px;
    }
    .esconder-mobile{
        display: none;
    }
  
}
