@media(max-width: 768px){
    .historia{
        margin-top: 50px;
    }
    .container{
        padding-right: 0px;
    }
    .col-lg-4{
        padding: 0px;
    }
    .little-descricao{
        margin-left: 15px;
    }
   
   
   
    .vermais-socio{
        height: auto;
    }
    .vermais-socio p{
        margin-left: 5%;
        color: var(--textbranco);
        font-family: SFUI;
        font-size: 20px;
        text-transform: uppercase;
        width: 90%;
    }
   
   
    
}

/* SUPER SMALL */
@media(max-width: 350px){
    .btn-noticias{
        width: auto;
        padding: 0 10px;
    }
