@media(max-width: 768px){
    .historia{
        margin-top: 50px;
    }
    .container{
        padding-right: 0px;
    }
    .col-lg-4{
        padding: 0px;

    }
    
}

/* SUPER SMALL */
@media(max-width: 350px){
    .btn-noticias{
        width: auto;
        padding: 0 10px;
    }
