/* FONTS */
@font-face {
  font-family:  SFUI ;
   src: url('../fonts/SFUIText-Regular.ttf');
}
@font-face {
  font-family:  _heavy ;
   src: url('../fonts/SFUIText-Heavy.ttf');
}
@font-face {
  font-family:  _semibold ;
   src: url('../fonts/SFUIText-Semibold.ttf');
}
@font-face {
  font-family:  _bold ;
   src: url('../fonts/SFUIText-Bold.ttf');
}
/* ROOT */
:root {
    --vermelho: #c4212f;
    --preto:  #262626;
    --verde: #4ad295;  
    --textpreto: #3f4244;
    --textbranco: #ffffff;
}

body{
    height: 5000px;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar-toggler:focus{
    outline: none;
}
.mynav{
    background:var(--preto);
}
.menulist{
    display: flex;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--textbranco);
    padding: 10px 20px;
    margin: 0 5px;
    font-family: _heavy;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;

}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    background: var(--vermelho);
    border-radius: 10px;
    color: var(--textbranco);
}
/* CAROUSEL */

/* HISTORIA */
.historia{
    display: flex;
    align-items: center;
    min-height: 500px;
}
.historia p{
    margin-top: 30px;
}
.btn-socio{
    background: var(--verde);
    padding: 15px 20px;
    border-radius: 20px;

    font-family: _bold;
    color: var(--textbranco);
    text-transform: uppercase;
    

}
.btn-socio:hover{
    background: #00bf69;
    color: var(--textbranco);
}
@media(max-width: 992px){
    .historiaitem{
        margin-top: 100px;
    }
    .btn-socio{
        margin-top: 50px;
    }
}
@media(max-width: 768px){
    .historia{
        margin-top: 50px;
    }
}

/* NOTICIAS */
.noticias{
    background: var(--preto);
    min-height: 800px;
}
.noticias h2{
    color: var(--textbranco);
    font-family: SFUI;
    font-weight: bold;
    font-size: 40px;
    margin-top: 100px;
}
.noticias p{
    color: var(--textbranco);
    font-family: SFUI;
    margin-top: 30px;
}


