/* FONTS */
@font-face {
  font-family:  SFUI ;
   src: url('../fonts/SFUIText-Regular.ttf');
}
@font-face {
  font-family:  _heavy ;
   src: url('../fonts/SFUIText-Heavy.ttf');
}
@font-face {
  font-family:  _semibold ;
   src: url('../fonts/SFUIText-Semibold.ttf');
}
@font-face {
  font-family:  _bold ;
   src: url('../fonts/SFUIText-Bold.ttf');
}
/* ROOT */
:root {
    --vermelho: #c4212f;
    --preto:  #262626;
    --verde: #4ad295;  
    --textpreto: #3f4244;
    --textbranco: #ffffff;
}

body{
    overflow-x: hidden;
    height: 5000px;
    
}

/* NAVBAR */
.navbar-toggler:focus{
    outline: none;
}
.mynav{
    background:var(--textbranco);
    box-shadow: 1px 8px 5px -2px rgba(0,0,0,0.46);
}
.menulist{
    display: flex;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--textpreto);
    padding: 10px 20px;
    margin: 0 5px;
    font-family: _heavy;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;

}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    background: var(--vermelho);
    border-radius: 10px;
    color: var(--textbranco);
}
.navbar-light .navbar-toggler {
    height: 50px;
    border-radius: 10px;
}
.navbar-light .navbar-toggler:hover {
    background: var(--vermelho);
}
/* CAROUSEL */
.carousel img{
    min-height: 300px;
    object-fit: cover;
}


/* HISTORIA */
.historia{
    margin: 80px 0;
    display: flex;
    align-items: center;
}
.historia p{
    margin-top: 30px;
}
.btn-socio{
    background: var(--verde);
    padding: 15px 20px;
    border-radius: 20px;

    font-family: _bold;
    color: var(--textbranco);
    text-transform: uppercase;
    

}
.btn-socio:hover{
    background: #00bf69;
    color: var(--textbranco);
}

  /* NOTICIAS */
.noticias{
    background: var(--preto);
    max-width: 1920px ;
    overflow: hidden;
    padding-bottom: 10px ;
    margin-right: 0px;
}
.noticias h2{
    color: var(--textbranco);
    font-family: SFUI;
    font-weight: bold;
    font-size: 50px;
    margin-top: 3rem 
}
.noticias p{
    color: var(--textbranco);
    font-family: SFUI;
    margin-top: 30px;
}

.container-noticias{
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px ;

}
.noticias .card{
    margin: 0px -40px;
    padding: 30px 0;
    border: none;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
   
}
.gg{
    z-index: 998;
    margin-top: -30px;
}
.gg .card{
    padding-bottom: 20px; 
}

.noticias .card:hover {
    transform: scale(1.25);
    transition: 0.4s ease-out;
    z-index: 999;
}

.noticias .card p{
    color: var(--textpreto);
    margin-top: 10px;
}


.noticias .card img{
    margin-top: -30px;
    border-radius: 10px 10px 0px 0px;
}

.gg img{
    object-fit: cover;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.gg h5{
    margin-top: 20px;
}

.btn-noticias{
    background: var(--verde);
    color: #ffffff;
    width: 250px;
    border-radius: 15px;
}
.btn-noticias:hover{
    background: #00bf69;
    color: #fff;
   
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

/* MODAL NOTÍCIAS */
.modal-content{
    border-radius: 20px;
}
.modal-content img{
    width: 100%;
}
.btn-fechar{
    border-radius: 13px;
    background-color: var(--vermelho);
    color: #fff;
    font-family: SFUI;
}
.btn-fechar:hover{
    color: #fff;
}
/* LOJA */
.loja{
    background: var(--vermelho);
    margin-right: 0px;

}
.loja h2{
    color: var(--textbranco);
    font-family: SFUI;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}


/* GALERIA */
.galeria{
    background: var(--preto);
    padding-bottom: 100px ;
    margin-right: 0px;

}
.galeria h2{
    color: var(--textbranco);
    font-family: SFUI;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.galeria p{
    color: var(--textbranco);
    font-family: SFUI;
    font-size: 12px;
    text-transform: uppercase;
}

.galeria a{
    color: #eaeaea;
    font-family: SFUI;
    padding: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.galeria a:hover{
    color: var(--vermelho);
    font-family: SFUI;
    padding: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.galeria .selecionado{
    color: var(--vermelho);
    font-weight: bold;
}
.galeria .foto{
    margin-top: 40px;
}
.galeria .card{
    border: none;
    border-radius: 0px;
}
.galeria .card img{
    height: 250px;
    border-radius: 0px;
    object-fit: cover;
}
.galeria .card h5{
    color: var(--textpreto);
    font-family: _bold;
    font-size: 20px;
    text-transform: uppercase;
}
.galeria .card p{
    color: #929ba0;
    font-family: SFUI;
    font-size: 12px;
}
.ativo{

}
.desativo{
  display: none;
}
.esconder{
  display: none;
}


.fa-angle-down{
    font-size: 50px;
    color: white;
    cursor: pointer;
}
.fa-angle-up{
    font-size: 50px;
    color: white;
    cursor: pointer;
}
