/* FONTS */
@font-face {
  font-family:  SFUI ;
   src: url('../fonts/SFUIText-Regular.ttf');
}
@font-face {
  font-family:  _heavy ;
   src: url('../fonts/SFUIText-Heavy.ttf');
}
@font-face {
  font-family:  _semibold ;
   src: url('../fonts/SFUIText-Semibold.ttf');
}
@font-face {
  font-family:  _bold ;
   src: url('../fonts/SFUIText-Bold.ttf');
}
/* ROOT */
:root {
    --vermelho: #c4212f;
    --preto:  #262626;
    --verde: #4ad295;
    --textpreto: #3f4244;
    --textbranco: #ffffff;
    --chernobyl: #7159c1;
}

body{
    /* overflow-x: hidden; */
   
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}


/* NAVBAR */
.navbar-toggler:focus{
    outline: none;
}
.mynav{
    background:var(--textbranco);
    box-shadow: 1px 8px 5px -2px rgba(0,0,0,0.46);
}
.menulist{
    display: flex;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--textpreto);
    padding: 10px 20px;
    margin: 0 5px;
    font-family: _heavy;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;

}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    background: var(--vermelho);
    border-radius: 10px;
    color: var(--textbranco);
}
.navbar-light .navbar-toggler {
    height: 50px;
    border-radius: 10px;
}
.navbar-light .navbar-toggler:hover {
    background: var(--vermelho);
}
/* CAROUSEL */
.carousel img{
    min-height: 300px;
    object-fit: cover;
}


/* HISTORIA */
.historia{
    margin: 80px 0;
    display: flex;
    align-items: center;
}
.historia p{
    margin-top: 30px;
}
.btn-socio{
    background: var(--verde);
    padding: 15px 20px;
    border-radius: 20px;

    font-family: _bold;
    color: var(--textbranco);
    text-transform: uppercase;
    

}
.btn-socio:hover{
    background: #00bf69;
    color: var(--textbranco);
}

  /* NOTICIAS */
.noticias{
    background: var(--preto);
    max-width: 1920px ;
    overflow: hidden;
    padding-bottom: 10px ;
    margin-right: 0px;
}
.noticias h2{
    color: var(--textbranco);
    font-family: SFUI;
    font-weight: bold;
    font-size: 50px;
    margin-top: 3rem 
}
.noticias p{
    color: var(--textbranco);
    font-family: SFUI;
    margin-top: 30px;
}

.container-noticias{
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px ;

}
.noticias .card{
    margin: 0px -40px;
    padding: 30px 0;
    border: none;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
   
}
.gg{
    z-index: 998;
    margin-top: -30px;
}
.gg .card{
    padding-bottom: 20px; 
}

.noticias .card:hover {
    transform: scale(1.25);
    transition: 0.4s ease-out;
    z-index: 999;
}

.noticias .card p{
    color: var(--textpreto);
    margin-top: 10px;
}


.noticias .card img{
    margin-top: -30px;
    border-radius: 10px 10px 0px 0px;
}

.gg img{
    object-fit: cover;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.gg h5{
    margin-top: 20px;
}

.btn-noticias{
    background: var(--verde);
    color: #ffffff;
    width: 250px;
    border-radius: 15px; 
    text-transform: uppercase;
}
.btn-noticias:hover{
    background: #00bf69;
    color: #fff;
   
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

/* MODAL NOTÍCIAS */
.modal-content{
    border-radius: 20px;
}
.modal-content img{
    width: 100%;
}
.btn-fechar{
    border-radius: 13px;
    background-color: var(--vermelho);
    color: #fff;
    font-family: SFUI;
}
.btn-fechar:hover{
    color: #fff;
}
/* LOJA */
.loja{
    background: var(--vermelho);
    margin-right: 0px;

}
.loja h2{
    color: var(--textbranco);
    font-family: SFUI;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}


/* GALERIA */
.galeria{
    background: var(--preto);
    margin-right: 0px;
    overflow: hidden;
    width: 100vw + 15px;

}
.galeria h2{
    color: var(--textbranco);
    font-family: SFUI;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.galeria p{
    color: var(--textbranco);
    font-family: SFUI;
    font-size: 12px;
    text-transform: uppercase;
}

.galeria a{
    color: #eaeaea;
    font-family: SFUI;
    padding: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.galeria a:hover{
    color: var(--vermelho);
    font-family: SFUI;
    padding: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.galeria .selecionado{
    color: var(--vermelho);
    font-weight: bold;
}
.galeria .foto{
    margin-top: 40px;
    padding-right: 0px;
}
.galeria .card{
    border: none;
    border-radius: 0px;
}
.galeria .card img{
    height: 250px;
    border-radius: 0px;
    object-fit: cover;
}
.galeria .card h5{
    color: var(--textpreto);
    font-family: _bold;
    font-size: 20px;
    text-transform: uppercase;
}
.galeria .card p{
    color: #929ba0;
    font-family: SFUI;
    font-size: 12px;
}
.ativo{

}
.desativo{
  display: none;
}
.esconder{
  display: none;
}
.ii{
    background-color: red;
    padding: 30px 400px;
    color: seagreen;
    border-radius: 40px;
}
.ii:hover{
    background-color: pink;
    padding: 50px 500px;
    color: white;
}
.fa-angle-down{
    font-size: 50px;
    color: white;
    cursor: pointer;
}
.fa-angle-up{
    font-size: 50px;
    color: white;
    cursor: pointer;
}
/* LITTLE GLADS */
.little .card{
    margin-top: 30px;
}
.little h2{
    color: var(--preto);
    font-family: SFUI;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}
.little .little-descricao{
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);

    color: var(--preto);
    font-family: SFUI;
    font-size: 15px;
    text-transform: uppercase;
}
.little .card{
    width: 100%;
}
.little .card-body{
    background: var(--preto);
}
.little .card-body h5{
    color: var(--textbranco);
}
.little .card-body p{
    color: var(--textbranco);
    font-size: 10px;
}
/* SOCIO TORCEDOR */

.socio .video{
    background: black;
    height: 250px;
    width: 80%;
    margin-left: 10%;
}
.socio .socio-descricao {
    width: 90%;
}
.socio .socio-descricao h3{
    font-family: _bold;
    font-family: SFUI;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase
}
.socio .socio-descricao p{
    color: var(--preto);
    font-family: SFUI;
    font-size: 10px;
    text-transform: uppercase
}
.vermais-socio{
    background: var(--preto);
    height: 300px;
}
.vermais-socio img{
    margin-top: -45px;
}
.vermais-socio p{
    color: var(--textbranco);
    font-family: SFUI;
    font-size: 25px;
    text-transform: uppercase
}
.hh{
    margin-top: 60px;
}
/* PATROCINADORES */
.patrocinadores h2{
    color: var(--preto);
    font-family: SFUI;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.patrocinadores .card-body{
    color: var(--textbranco);
    background-color: var(--preto);
}
.patrocinadores .card-body h4{
    font-size: 15px;
    text-transform: uppercase;

}
.patrocinadores .card-body p{
    font-size: 10px;
    text-transform: uppercase;

}
/* SEJA UM PATROCINADOR */
.seja-patrocinador {
    background-color: var(--vermelho);
    color: var(--textbranco);
}
.seja-patrocinador h2{
    font-family: SFUI;
    font-size: 10px;
    text-transform: uppercase;
}

.patrocinadores .card-body{
    color: var(--textbranco);
    background-color: var(--preto);
}
.patrocinadores .card-body h4{
    font-size: 15px;
    text-transform: uppercase;

}
.patrocinadores .card-body p{
    font-size: 10px;
    text-transform: uppercase;

}
/* REDES SOCIAIS */
.redes-sociais img{
    max-width: 100%;
}
.redes-sociais h3{
    color: var(--preto);
    font-family: SFUI;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
}
.redes-sociais button{
    border: none;
    border-radius: 20px;
    color: var(--textbranco);
    font-size: 25px;
    height: 50px;
    width: 100%;
}
.redes-sociais .btn-insta{
    background: linear-gradient(30deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.redes-sociais .btn-face{
    background: #3a5793;
}
/* CONTATOS */
.contatos{
    background-color: var(--vermelho);
    color: var(--textbranco);
    font-family: SFUI;
}
.contatos h3{
    color: var(--textbranco);
    font-family: SFUI;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
}
.contatos p{
    color: var(--textbranco);
    font-family: SFUI;
    text-transform: uppercase;
    font-size: 10px;
}
.contatos .input-pequeno .col-md-6{
    padding: 0px;
}
.contatos .input-pequeno input{
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    padding-left: 10px;
    color: #fff;
}
.contatos .input-pequeno input::placeholder{
    color: #fff;
}

.contatos .input-pequeno .col-md-6:first-child{
    padding-right: 10px;
}
.contatos .input-pequeno input{
    width: 100%; 
    height: 50px;
}
.contatos .input-grande input{
    width: 100%; 
    height: 100px;
    margin-top: 50px;
}
.contatos .input-grande input{
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    padding-top: -100px;
    padding-left: 10px;
    color: #fff;
}
.contatos .input-grande input::placeholder{
    color: #fff;
}

.contatos .btn-contato input{
    float: right;
    background-color: var(--preto);
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: SFUI;
    padding: 5px 30px;
}
.contatos input:focus{
    outline: none;
}
/* FOOTER */
footer{
    background-color: #233537;
    color: #fff;
    height: 80px;
}
footer p {
   padding-top: 30px;
}
footer p span{
    color: var(--verde);
}